
		<script type="text/javascript" src="scripts/signupcheck.js">
		</script>
		<style type="text/css">
			
			/*create sticky footer*/
    		#wrap {
        		min-height: 90%;
        		margin: 0 auto -100px; /* Set footer height. */
    		}
    		
    		footer{
        		height: 100px; 
    		}
    		
    		#forms {
    			padding: 2.5em 0 0 2.5em;
    			width: 920px;
    		}
    		
    		h1 {
				text-align: left;
				color: #242424;
				font-size: 30px;
				padding: 0 0 1em 0;		
			}
    		
    		#left {
				width: 523px;  
				float:left;
				color: #242424;
				font-size: 16px;
    		}
    		
    	
			
			#right {
				text-align: center;
				width: 397px;
				padding: 7.5em 0 0 0;
				float: right;
			}
					
			#forms form .field input{		
				width:252px;
				height: 25px;
				margin: 0 0 1em 0;
				border:1px solid #868686;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				-chrome-border-radius: 10px;
				-webkit-border-radius: 10px;
			}	
			
			#forms form .actions input{
				width:150px;
				height:37px;
				line-height:37px;		
				font-size: 15px;
				background:url('images/background.gif') no-repeat 0 0;
				color:#242424;
				margin: 1em 0 0 0;
				text-align:center;
				border:none;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				-chrome-border-radius: 10px;
				-webkit-border-radius: 10px;
			}
			
			span {
				font-size: small;
				color: #D00000;
				font-weight:bold;
			}
			
		</style>
	</head>	
	<body>
		<div id ="wrap">
		
		
		
		<section id="forms" class="body"><!-- This section includes the section for signup form -->
			<h1>
				Edit Profile
			</h1>
			<%= gravatar_image_tag @user.email %> <br />
			
			<div id = "left">
			 <%= form_for(@user) do |f| %>
				<%= render 'shared/error_messages', :object => f.object%> 
			 <div class = "field">
				<%= f.label :name %><br />
				<%= f.text_field :name %>
				<span id="nameSpan" style = "visibility: hidden;">Please Enter User Name</span>
			 </div>
			 <div class = "field">
				<%= f.label :email %><br />
				<%= f.text_field :email%>
				<span id = "checkEmail" style = "visibility:hidden;">Please Enter a valid Email</span>
			 </div>
			 <div class = "field">
				<%= f.label :password%><br />
				<%= f.password_field :password%>
				<span id = "passSpan" style = "visibility: hidden; float: right;">Min of 6 characters. Upper and lower case <br/> letters and numbers needed</span>
			 </div>
			 <div class = "field">
				<%= f.label :password_confirmation, "Password Confirmation"%><br />
				<%= f.password_field :password_confirmation%>
				<span id = "checkSpan" style = "visibility: hidden;">Passwords do not match</span>
			 </div>
			 <div class="actions">
				<%= f.submit "Update" %>
				<%= link_to "Cancel", signin_path%>
				 
			</div>
			

			<% end %>	

			</div>
		</section>
		</div> <!-- end of wrap -->
		
		<script type = "text/javascript">
		<!-- 
			document.getElementById("user_name").onblur = checkName;
			document.getElementById("user_email").onblur = checkEmail;
			document.getElementById("user_password").onblur = checkPass;
			document.getElementById("user_password_confirmation").onblur = reCheck;
			document.getElementById("new_user").onsubmit = submit;		

		// -->
		</script>
