
		<script type="text/javascript" src="scripts/signupcheck.js">
		</script>
		<style type="text/css">
			
			/*create sticky footer*/
    		#wrap {
        		min-height: 100%;
        		margin: 0 auto -100px; /* Set footer height. */
    		}
    		
    		footer{
        		height: 100px; 
    		}
    		
    		#forms {
    			padding: 2.5em 0 0 2.5em;
    			width: 920px;
    		}
    		
    		.flash {
				text-align: center;
				color: #242424;
				font-size: 30px;
				padding: 0 0 1em 0;		
			}
    		
    		#left {
				width: 300px;  
				float:left;
				color: #242424;
				
    		}
    		
    		#left p {
    			padding: 1em 0 1em 0;
    			font-size: 16px;
    		}
			
			#right {
				text-align: center;
				width: 600px;
				padding: 7.5em 0 0 0;
				float: right;
				
			}
					
			#form1 input{		
				width:252px;
				height: 20px;
				border:1px solid #868686;
				padding:3px;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				-chrome-border-radius: 10px;
				-webkit-border-radius: 10px;
			}	
			
		
			.add {
				text-align: center;
				
				
			}
			
			span {
				font-size: small;
				color: #D00000;
				font-weight:bold;
			}
			
		</style>
	
		<div id ="wrap">
	
		
		
		<section id="forms" class="body"><!-- This section includes the section for signup form -->
			<% flash.each do |key, value| %>
				<div class = "flash <%= key %>"><%= value %></div>
			<% end %>
			<div id = "left">
			<%= gravatar_for @user %> <span style = "color: #242424; font-size: 16px;"><%= @user.name %></span> <br />
			<!-- <%= link_to user_path(@user), @user %> -->
			 <strong>Number of Photos:</strong> <%= @user.assets.count %>	
			</div>
			
		
			<div class = "add">
				<p style = "color: #242424; font-size: 16px;"> Add Photos Now</p>
			<%= form_for @asset, :html => { :multipart => true } do |f| %>


			  <p>
			    <%= f.file_field :asset %>
			
			  </p>
			  <div class="actions">
			    <%= f.submit "Add Photo" %>
			  </div>
			<% end %>
			
			</div>
			
			
			
			
			<div id = "right">
				
				<% unless @user.assets.empty? %>
					<p style = "color: #242424; font-size: 16px;padding-bottom: 1em;"> Your Photos</p>
				<% end %>
				        
				       <% for asset in @user.assets %>
							<span style="padding: 0.5px;">
							<%= link_to image_tag(asset.asset.url(:thumb)), asset %>
							
							
							
							
							<%= link_to "x", asset, :method => :delete,
						                            :confirm => "Would you like to delete this photo?",
						                            :title => @user.assets %>
							
							</span>

					   <% end %>
					
						
				        <%= will_paginate @assets %>
				    
				
				
				
					<!-- "/users/#{@user.id}/assets/#{@user.assets.find(params[:id])}"  -->
				
			</div>
		</section>
		</div> <!-- end of wrap -->
		
		