


<style type="text/css">
	
	/*create sticky footer*/
	
	
	#wrap {
		min-height: auto;
		margin: 0 auto -auto px; /* Set footer height. */
	}
	
	footer{
		height: 100px; 
	}
	
	.body {
		padding-top: 1em;
		text-align: center;
	}
	

	
	span {
		font-size: small;
		color: #D00000;
		font-weight:bold;
	}
	
</style>

<div id ="wrap">


	
<section id="forms" class="body">
	
	
	
	<p style = "color:#242424; padding: 1.5em 0 1.5em 0;">Sizes: <%= link_to "Thumbnail", @asset.asset.url(:thumb) %> |
			  <%= link_to "Small", @asset.asset.url(:small) %> |
			  <%= link_to "Medium", @asset.asset.url(:medium) %> |
			  <%= link_to "Large", @asset.asset.url(:large) %>
	</p>
 
			 
     		  <%= image_tag(@asset.asset.url(:large), :id => "test") %>
	

</section>


</div> <!-- end of wrap -->

